	<!-- /Head -->
	<%- include('./partials/head')%>
	<!-- /Head -->

	<body>
		<!-- /Header -->
		<% if (logueado) { %>
			<%- include('./partials/headerLogueado')%>
		<% } else { %>
		<%- include('./partials/header')%>
		<% } %> 
		
		<!-- /Header -->

		<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title"><%= producto.title %> </h2>
				<% if (logueado && miUsuario.id==producto.users_id) { %>
					<p class="product-detail-description">
						<a class="editarProd" href="/product/edit/<%= producto.id %> ">Editar</a>
					</p>
					<form action="/product/delete/<%= producto.id %>" method="POST">
						<button type="submit" class="btn btn-outline-light"> <i class="fas fa-trash" style="color: #B99871;"></i></button>
					</form>
				<% } %>
				

			</div>
			<div>
				<h3>Hecho por: <a href="/profile"><%= producto.usuario.name %></a> </h3>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/products/<%= producto.cover %> " alt="" class="product-detail-img">
						<p class="product-detail-description"><%= producto.description %> </p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<% producto.comentarios.forEach(comentario => { %>
								<article>
									<img src="/images/users/<%= comentario.usuario.cover %> " alt="">
									<div class="data">
										<p class="user">
											<strong> <a class="usuarioNombre" href="profile"><%= comentario.usuario.name %> <%= comentario.usuario.last_name %>: </a> </strong>
											<%= comentario.comment %> </p>
									</div>
								</article>
							<% }) %>

						</section>
						<form class="form" action="/product/comment" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comment">
							<input type="hidden" name="id" value="<%= producto.id %> ">

							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->


		<!-- footer -->
		<%- include('./partials/footer')%>
		<!-- /footer -->
	</body>

	</html>